/*ESTE ES EL SELECTOR GENERAL*/
*{
	margin: 0;
	padding:0;
}
body { font-family: 'Open Sans' }
/*ESTE ES EL HEADER*/
header { padding: 10px 0; }
.contenedor
{
	width: 900px;
	margin: 0 auto;/*Esto hace que se centre horizontalmente*/
	overflow: auto;
}
.logo{
	float: left;
	width: 30%;
}
.menu
{
	float: right;
}
.menu li
{
	list-style:none;
	display: inline-block;
}
.menu li a
{
	text-decoration: none;
	color: #848484;
	font-size: 15px;
	display: block;
	padding: 10px;
}
/*ESTA ES LA HERO SECTION*/
section
{
	background-color: #938D8D;
	color: white;
}
.clearfix
{
	clear: both;
}
.col-1 , .col-2
{
	float: left;
}
.col-1
{
	width: 60%;
}
.col-2
{
	width: 40%;
}
/*ESTA ES LA COLUMNA 1*/
.hero h1
{
	font-size: 50px;
	margin: 30px auto;
}
.hero p 
{
	margin: 30px auto;
	font-size: 15px;
}
/*ESTA ES LA COLUMNA 2*/
.get_started
{
	text-align: center;
	background-color:#A4A4A4;
    margin: 50px 20px;
    border-radius: 15px;
    padding: 20px;
}
.get_started button, input
{
	width: 100%;
	margin: 5px auto;
	padding: 5px;
	box-sizing: border-box;
}
.get_started button
{
	background-color: #3F9BDC;
	border: none;
	width: 100%;
	color: white;
} 
/*ESTA ES EL FOOTER*/
footer
{
	color:#848484;
	font-size: 14px;
	padding: 10px;
}
footer a { text-decoration: none; }
/*AQUI ESTAN  LOS MEDIQUERIES*/
@media (max-width:900px)
{
	.contenedor
	{
		width: 700px;
	}
}

@media (max-width:700px)
{
	.contenedor
	{
		width: 100%;
	}
	.col-1, .col-2
	{
		width: 100%;
	}
	.hero
	{
		margin: 30px;
	}
	.get_started
	{
		margin: 30px;
	}
}